body{
    margin: 0;
}

.topo{
    background: #ff8400;
}

svg{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    width:143px;
    height:50;
    color: aliceblue;
}

.form{
    margin-top: 30px;
    width: 100vw;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}